<div class="row">    
    <md-card class="col-md-offset-3 col-md-6" style="margin-top: 5rem; background-color: darkslategrey">        
        <div class="row" style="padding: 1rem; display: flex; align-content: center; justify-content: center; align-items: center">
            <div class="col-md-5">
                <p class="md-headline" style="color: white">LG Store Test</p>
                <p class="md-subhead" style="color: white">Powered by Akamine</p>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="btn btn-social-icon btn-linkedin" target="_blank" href="http://www.linkedin.com/in/luiz-akamine">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                    <li style="margin-left: 0.5rem">
                        <a class="btn btn-social-icon btn-facebook" href="">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7" style="display: flex; align-content: space-between; align-items: center; justify-content: center">
                <div class="md-media-lg card-media" style="background-color: white; padding: 5px; flex: 1; display: flex; align-content: center; justify-content: center; align-items: center">
                    <img src="../../Images/lg.jpg" class="md-card-image" style="background-color: white; margin-left: auto; margin-right: auto">
                </div>
            </div>            
        </div>
    </md-card>
</div>